.loginContainer {
  background: linear-gradient(to bottom right, #f8f9fa, #e9ecef);
  min-height: 100vh;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
